{{ define "main" }}
<div class="list-header">
  <h1 class="list-title">{{ .Title }}</h1>
</div>

<ul class="entry-list">
  {{ range .Site.RegularPages }}
  <li class="entry-list-item">
    <a href="{{ .RelPermalink }}" class="entry-list-link">
      <span class="entry-list-title">{{ .Title }}</span>
      {{ range .Params.category }}
      <span class="entry-list-category entry-category cat-{{ . }}">
        {{ . }}
      </span>
      {{ end }}
      {{ with .Date }}
      <time class="entry-date" datetime="{{ .Format "2006-01-02" }}">{{ .Format "2006-01-02" }}</time>
      {{ end }}
    </a>
  </li>
  {{ end }}
</ul>
{{ end }}
